.box-a {
    background-color: deeppink;
    margin-bottom: 20px;
}
.box-b {
    background-color:palevioletred;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
}
.box-c {
    background-color:pink;
    padding: 30px;
    border: 3px solid beige;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
}
.box-d {
    background-color: bisque;
    margin-bottom: 20px;
    width: 316px;
    height: 150px;
}
.box-e {
    background-color: blanchedalmond;
    padding: 30px;
    border: 3px solid lightgray;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
    box-sizing: border-box;
}