html {
    background-color: #869960;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%
}

img {
    max-width: 100%;
    height: auto;
}

/* Banner Overlay */
.image-banner {
    position: relative;
}

.banner-caption {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 25px;
}

.banner-caption p{
    color: red;
}
/* End Banner OVerlay */

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #617140
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

.content-area {
    
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main {
    width: 70%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.support {
    width: 30%;
    float: left;
    background-color: #e5e9dc;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fix {
    clear: both;
}

p {
    color: gray;
}

footer p {
    color: red;
    text-align: center;
    font-size: 85;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

header p {
    color: green;
}

aside {
    color:#617140;
}

header p span {
    color: blue;
}

.highlight {
    color: crimson;
    background-color: yellow;
}

.brand-color {
    color: yellow;
    background-color: blue;
}


/* Site Navigation */
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav {
    margin-top: 20px;
}

.site-nav a {
    text-decoration: none;
    color: #617140;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    display: block;
    border-bottom: none;
}

.site-nav a:hover {
    background-color: #e5e9dc;
}
/* End of Site Navigation */